body{
    background-image: url(https://content.invisioncic.com/z328913/monthly_2020_10/839247772_DragonValleyFP2.png.e8c7b0cc4de1e41924cc47cfa692e312.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    align-items: center;
    font-size: xx-large;
}